@import url("https://fonts.googleapis.com/css2?family=Genos");

.main {
  padding: 10rem 0;
  /* width: 100vh; */
  height: 100vh;
  color: #fafafa;
  overflow-y: hidden;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 100%;
  font-family: Genos;
  padding: 0 0 0 30px;
}
.ttl {
  font-size: 6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.subttl {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 760px) {
  .ttl {
    font-size: 5rem;
  }
  .subttl {
    font-size: 1.5rem;
  }

}