@import url("https://fonts.googleapis.com/css2?family=Genos");

.navbar {
    width: 90%;
    height: 65px;
    position: fixed;
    justify-content: center;
    align-self: center;
    line-height: 0px;
	border-radius: 25px;
	font-family: 'Genos';
    z-index: 1025;
    background-color: #141313c2;
    box-shadow: 0 0 10px rgba(220, 220, 220, 0.716) !important;
    transition: all 0.3s ease;
    color: #000;
    margin: 1.5rem 0 0 4rem;
	
}



@media only screen and (max-width: 600px) {
    .navbar {
        height: 50px;
        line-height: 50px;
        background-color: #000;
        margin: 1.5rem;
    }
}